@media (max-width: 600px) {
    .why-choose-us-section{
        margin-top: 10px;
        padding: 30px;
        display: flex;
        column-gap: 40px;
    }
    
    .why-choose-us-div{
        width: 100%;
    }
    
    .why-choose-us-section{
        display: flex;
        flex-direction: column;
    }
    

    .our-vision-section{
        display: flex;
        flex-direction: column-reverse;
        padding: 30px;
    }

    .our-vision-heading-about-us{
        margin-top: 0px;
    }

    .review-message{
        max-width: 550px;
        margin-left: 0;
    }

    .meet-the-team-section{
        padding: 50px 30px;
    }

    .meet-the-team-heading{
        font-weight: bold;
        font-size: 26px;
        color: rgb(2, 89, 113);
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .the-team-div{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }

    .team-member-div{
        margin-bottom: 20px;
    }
}


@media (min-width: 601px) and (max-width: 749px){
    .why-choose-us-section{
        margin-top: 10px;
        padding: 30px 50px;
        display: flex;
        column-gap: 40px;
    }
    
    .why-choose-us-div{
        width: 100%;
    }
    
    .why-choose-us-section{
        display: flex;
        flex-direction: column;
    }

    .why-choose-us-section{
        display: flex;
        flex-direction: column;
    }
    
    .review-message{
        max-width: 550px;
        margin-left: 0;
    }

    .our-vision-section{
        display: flex;
        flex-direction: column-reverse;
    }

    .our-vision-heading-about-us{
        margin-top: 0px;
    }

    .meet-the-team-section{
        padding: 50px 30px;
    }

    .meet-the-team-heading{
        font-weight: bold;
        font-size: 26px;
        color: rgb(2, 89, 113);
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .the-team-div{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }

    .team-member-div{
        margin-bottom: 20px;
    }
}


@media (min-width: 750px) and (max-width: 839px){

    .why-choose-us-section{
        margin-top: 10px;
        padding: 30px 80px;
        display: flex;
        column-gap: 40px;
    }
    
    .why-choose-us-div{
        width: 100%;
    }
    
    .why-choose-us-section{
        display: flex;
        flex-direction: column;
    }

    .review-message{
        max-width: 550px;
        margin-left: 0;
    }

    .our-vision-section{
        display: flex;
        flex-direction: column-reverse;
    }

    .our-vision-heading-about-us{
        margin-top: 0px;
    }

    .meet-the-team-section{
        padding: 50px 30px;
    }

    .meet-the-team-heading{
        font-weight: bold;
        font-size: 26px;
        color: rgb(2, 89, 113);
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .the-team-div{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        
    }

    .team-member-div{
        margin-bottom: 20px;
    }
}


@media (min-width: 840px) and (max-width: 900px){
    .why-choose-us-section{
        margin-top: 10px;
        padding: 30px;
        display: flex;
        column-gap: 40px;
    }

    .why-choose-us-div{
        width: 100%;
    }

    .review-message{
        max-width: 550px;
        margin-left: 0;
    }

    .our-vision-section{
        display: flex;
        flex-direction: column-reverse;
    }

    .our-vision-heading-about-us{
        margin-top: 0px;
    }

    .why-choose-us-section-about-us img{
        margin-top: 80px;
    }

    .why-choose-us-div{
        width: 150%;
    }

    .meet-the-team-section{
        padding: 50px 30px;
    }

    .meet-the-team-heading{
        font-weight: bold;
        font-size: 26px;
        color: rgb(2, 89, 113);
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .the-team-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .team-member-div{
        margin-bottom: 20px;
    }
}

@media (min-width: 901px) and (max-width: 999px){
    .why-choose-us-section{
        margin-top: 10px;
        padding: 30px 50px;
        display: flex;
        column-gap: 40px;
    }

    .why-choose-us-div{
        width: 100%;
    }

    .review-message{
        max-width: 550px;
        margin-left: 40px;
    }

    .our-vision-section{
        display: flex;
        padding: 30px 50px;
        display: flex;
    }
    
    .our-vision-div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .our-vision-heading-about-us{
        margin-top: 0px;
    }

    .why-choose-us-section-about-us img{
        margin-top: 35px;
    }

    .why-choose-us-div{
        width: 150%;
    }

    .meet-the-team-section{
        padding: 50px 20px;
    }

    .meet-the-team-heading{
        font-weight: bold;
        font-size: 26px;
        color: rgb(2, 89, 113);
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .the-team-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .team-member-div{
        margin-bottom: 20px;
    }
}


@media (min-width: 1000px) and (max-width: 1079px){
    .why-choose-us-section{
        margin-top: 10px;
        padding: 30px 50px;
        display: flex;
        column-gap: 40px;
    }

    .why-choose-us-div{
        width: 100%;
    }

    .review-message{
        max-width: 550px;
        margin-left: 70px;
    }

    .our-vision-section{
        display: flex;
        padding: 30px 50px;
        display: flex;
    }
    
    .our-vision-div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .our-vision-heading-about-us{
        margin-top: 0px;
    }

    .why-choose-us-section-about-us img{
        margin-top: 35px;
    }

    .why-choose-us-div{
        width: 150%;
    }

    .meet-the-team-section{
        padding: 50px 20px;
    }

    .meet-the-team-heading{
        font-weight: bold;
        font-size: 26px;
        color: rgb(2, 89, 113);
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .the-team-div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .team-member-div{
        margin-bottom: 20px;
    }
}


@media (min-width: 1080px) and (max-width: 1179px){
    .why-choose-us-section{
        margin-top: 10px;
        padding: 30px 50px;
        display: flex;
        column-gap: 40px;
    }

    .why-choose-us-div{
        width: 100%;
    }

    .review-message{
        max-width: 550px;
        margin-left: 100px;
    }
}


@media (min-width: 1180px) and (max-width: 1299px){
    .review-message{
        max-width: 550px;
        margin-left: 120px;
    }
}
